Repository protectai/nbdefense-jupyter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, stylelint, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: jlpm prettier:check
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
      - id: stylelint
        name: stylelint
        language: node
        entry: jlpm stylelint:check
        types_or: [css]
      - id: eslint
        name: eslint
        language: node
        entry: jlpm eslint:check
        types_or: [ts, tsx]
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black

Remove Documentation Issue Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-issue-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Fix linting issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier

Remove gh actions status from README
  README.md
Due: prettier

Remove release section
  README.md
Due: prettier

Update nbdefense description
  package.json
Due: prettier

Remove Documentation Issue Template (#3)
  .github/ISSUE_TEMPLATE/documentation-issue-report.md
Due: prettier

Add enable extension to readme
  README.md
Due: prettier

Updating SDK Version with support for python 3.7
  pyproject.toml
Due: none

Update to latest version of nbdefense
  pyproject.toml
Due: none

Updates to README.md (#5)
  README.md
  package.json
Due: prettier

Update to NBDefense 1.0.2 (#6)
  pyproject.toml
Due: none

Handle empty or undefined settings files
  nbdefense_jupyter/handlers.py
  src/components/NBDefensePanel.tsx
Due: prettier, eslint

Upgrade JupyterLab package versions
  package.json
  yarn.lock
Due: prettier

Upgrade JupyterLab package versions (#8)
  package.json
  yarn.lock
Due: prettier

Handle empty or undefined settings files (#7)
  nbdefense_jupyter/handlers.py
  src/components/NBDefensePanel.tsx
Due: prettier, eslint

Bump NBDefense Version
  pyproject.toml
Due: none

Bump NBDefense Version (#9)
  pyproject.toml
Due: none

Updating readme, adding contributing.md
  CONTRIBUTING.md
  README.md
Due: prettier

Punctuation fixes
  CONTRIBUTING.md
Due: prettier

Updating contributing link to FAQ
  CONTRIBUTING.md
  README.md
Due: prettier

Fix Typo, remove $
  README.md
Due: prettier

Updating Contributing Link
  README.md
Due: prettier

Readme and Contributing (#11)
  CONTRIBUTING.md
  README.md
Due: prettier

Add test workflow and fix tests
  .github/workflows/test.yml
  src/utils/editorErrorsUtils.spec.tsx
Due: prettier, eslint

Add badge to README.md
  README.md
Due: prettier

Update test wf pip cache to hash pyproject.toml
  .github/workflows/test.yml
Due: none

Add test workflow and fix tests (#12)
  .github/workflows/test.yml
  README.md
  src/utils/editorErrorsUtils.spec.tsx
Due: prettier, eslint

Bump nbdefense sdk version to 1.0.4
  pyproject.toml
Due: none

Bump nbdefense sdk version to 1.0.4 (#13)
  pyproject.toml
Due: none

Fixed bug where extension hangs due to server unavailability
  src/components/DirtyStateWarning.tsx
  src/components/MessageBox.tsx
  src/components/NBDefensePanel.tsx
  src/components/ScanButton.tsx
  src/style/DirtyScanStyle.ts
  src/style/MessageBoxStyle.ts
  src/style/ScanButtonStyle.ts
  src/types.ts
Due: prettier, eslint

addressed comment
  src/components/NBDefensePanel.tsx
Due: prettier, eslint

Pin version of ipython
  pyproject.toml
Due: none

Move ipython dep to correct place
  pyproject.toml
Due: none

bump CI python version to 3.9
  .github/workflows/build.yml
Due: none

Fixed bug where extension hangs due to server unavailability (#14)
  .github/workflows/build.yml
  src/components/DirtyStateWarning.tsx
  src/components/MessageBox.tsx
  src/components/NBDefensePanel.tsx
  src/components/ScanButton.tsx
  src/style/DirtyScanStyle.ts
  src/style/MessageBoxStyle.ts
  src/style/ScanButtonStyle.ts
  src/types.ts
Due: prettier, eslint

upgrade to jupyterlab 4.x
  .copier-answers.yml
  .gitignore
  .yarnrc.yml
  jest.config.js
  nbdefense_jupyter/__init__.py
  package.json
  pyproject.toml
  yarn.lock
Due: prettier

bumped jupyterlab from 3.1 -> 3.6
  .github/workflows/build.yml
  .github/workflows/publish.yml
  package.json
Due: prettier

upgrade in package.json
  package.json
  yarn.lock
Due: prettier

fix tsc error
  package.json
  tsconfig.json
Due: prettier
